		*{
			font-family: 'consolas';
			box-sizing:border-box;
			margin:0;
			padding:0;
			top:0;
		}
		table {
			border-collapse:collapse;
			width: 80%;
			display: table;
			margin:auto;
		}
		table,tr,td,th{
			border:1px solid #000
		}
		th {
			text-transform: uppercase;
		}
		td,th{
			padding:5px 10px;
		}
		tr:first-child{
			background:#000; 
		}
		tr:first-child th{
			color:#fff; 
		}
		tr:nth-child(even) {
			background:#ccc; 
		}
		button {
			text-transform: uppercase;
			background:#000;
			border:none;
			color:#fff;
			padding:5px 10px;
			font-size:10px;
			cursor:pointer;
			margin:auto;
			border:1px solid #000;
			border-radius: 5px;
		}
		button:hover {
			background: #fff;
			color: #000;
		}
		.max-1600{
			max-width: 1600px;
			display:block;
			margin:auto;
		}
		.frm-hldr {
			display: block;
			margin-bottom:5px;
		}
		.frm-hldr label{
			width:80px;
			display: inline-block;
			vertical-align: middle;
		}
		.frm-hldr input{
			padding:5px;
			display: inline-block;
			vertical-align: middle;
		}
		.center {
			text-align: center;
		}
		.main-student {			
			font-size:12px;
			padding:40px 10px 20px;
			border:1px solid #000;
			display: inline-block;
			border-radius:5px;
			margin:auto;
			background: #fff;
			position: relative;
		}
		.flex {
			display: flex;
			align-items:center;
			justify-content: center;
		}
		.tbl-grade {
			max-width:1600px;
			width: 100%;
			font-size:12px;
		}
		.tbl-grade button{
			margin:0 5px;			
		}
		.separator-100 {
			width: 100%;
			height:100px;
			display: block;
		}
		.separator-20{
			width: 100%;
			height:20px;
			display: block;
		}
		.separator-10{
			width: 100%;
			height:10px;
			display: block;
		}
		.separator {
			width: 100%;
			height:100px;
			display: block;
		}
		.btn-refresh,.btn-clear,.btn-add {
			font-size:10px;
			height:40px;
			width:80px;			
			display: flex;
			margin:0 5px;
			justify-content:center;
			align-items: center; 
			border:1px solid #000;
			border-radius: 5px;
			overflow: hidden;
			color: #000;
			text-decoration: none;
			transition:all .5s ease-in-out;
		}
		.btn-refresh:hover,.btn-clear:hover,.btn-add:hover{
			background:#000;
			color:#fff;			
		}
		.flex-right {			
			display: flex;
			margin-left:auto;
		}
		.fr {
			float:right;
		}

		.main-view .frm-hldr {
			display: table;
			width: 100%;
		}
		.main-view .frm-hldr label{
			width: auto;
			float: left;
   			padding: 9px 10px;
		}
		.main-view .frm-hldr input{
			padding: 5px;
		    display: inline-block;
		    vertical-align: middle;
		    float: right;
		}

		.btn-set.disabled {
			cursor: none;
			pointer-events: none;
			opacity: .2;
		}
		.main-container.edit {
			width: 100%;
		    height: 100%;
		    position: absolute;
		    background: rgba(0,0,0,.9);
		    display:none;
		}
		.main-container.edit.show {
			display: flex;
		}
		.btn-close {
			width:20px;
			height:20px;
			text-align: center;
			border:1px solid red;
			color: red;
			display: block;
			position: absolute;
			top: 10px;
			right:10px;
			font-size:12px;
			list-style: 20px;
			text-decoration: none;
		}
		.controls {
			margin:10px auto;
		}
		.controls input{
			padding:10px;
		}

		.alert {
			color:red;
			font-weight:bold;
		}
	/*	.main-container.edit {
			display: none;
		}*/